<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="container">
	<form class="form-signin" method="post">
		 {% csrf_token %}
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Set a new password!</h1>
      </div>

      <div class="form-label-group">
		  {{ form.as_p }}
      </div>
      <button class="btn btn-lg btn-info btn-block" type="submit">Change my password</button>
    </form>
</div>
{% endblock %}
