     #outer-dropzone {
  height: 140px;

  touch-action: none;
}

#inner-dropzone {
  height: 250px;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 100%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;  
  

  /*-webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);*/

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group label {
    display: block;
}

.form-label-group input {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 5px;
}

.btnSubmit{
  width: 100%;
  margin-bottom: 5%;
  height: 30px;
}


.wrapper{
  /*width:450px;*/
  height: 400px;
	margin:30px auto 0;
	background-color:#FFFFFF;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapperCollection{
  /*width:450px;*/
  /*height: 400px;*/
  text-align: center;
	margin:30px auto 0;
	background-color:#FFFFFF;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.headerList{
	text-align:center;
	padding:10px;
	margin-bottom:10px;
	background-color:rgba(8,3,37,.4);
}


.display:after{
	content:"";
	clear:both;
	display:table;
}

.display{
  padding:10px 0 10px 10px;
  height: 340px;
  overflow-y: auto;
}

.wrapper .box{
  text-align: center;
	float:left;
	width:290px;
	height:250px;
	margin:0 10px 10px 0;	
	/*-webkit-transition:all 1.0s ease;
	-moz-transition:all 1.0s ease;
	transition:all 1.0s ease;
	transition:all 1.0s ease;*/
}

.wrapper.list-mode .container{
	padding-right:10px;
}

.wrapper.list-mode .box{
	width:100%;
}

.cardImg{
  width: 75%;
  margin-top: -25%;
}

.displayDeck{
  width: 80%;
  overflow-x: auto;
  margin:1%;
}

.displayCollection{
  padding:10px 0 10px 10px;
  
  /*overflow-y: auto;*/
}
.deck_cards li {
    display: inline-block;
}
