<h2 class="container h1">Les packs de cartes disponible</h2>
<div class="youplay-carousel">
    {% if user.is_authenticated %}
        {% for cardDeck in cardDecks %}
        <a class="angled-img" href="#!">
            <div class="img img-offset">
                <img src="static/assets/images/game-dark-souls-ii-500x375.jpg" alt="">
                <div class="badge bg-default">
                    -20%
                </div>
            </div>
            <div class="bottom-info">
                <h4>Dark Souls II</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="price">{{ cardDeck.point }}</sup>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {%endfor%}
    {%endif%}

</div>
<!-- /Specials -->
