<!-- templates/card.html-->
{% extends 'base.html' %}

{% block title %}Cartes{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	{% for card in cards.all %}
 		<li><div id="yes-drop {{card.id}}" class="drag-drop"> {{card.name}} </div></li>
	{%endfor%}

	<form method="POST" action="">	
		<select multiple>
		{% for card in cards.all %}
			<option value="{{card.id}}">{{card.name}}</option>
		{%endfor%}
	  </select>
	</form>
	<div id="inner-dropzone" class="dropzone">Game AREA</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
  
</div>
{% endblock %}



