<!-- templates/card.html-->
{% extends 'base.html' %}

{% block title %}Cartes{% endblock %}

{% block content %}
{% if user.is_authenticated %}

	<form method="POST" action="">
		{% csrf_token %}
		<label for="deck_name">Nom du deck :</label>
		<input type="text" name="deck_name" id="deck_name">
		<select multiple name="cards" id="cards">
		{% for card in cards.all %}
			<option value="{{card.id}}">{{card.name}}</option>
		{%endfor%}
	  </select>
	  <input type="submit" value="valider">
	</form>

	{% for card in cards.all %}
			<div id="{{card.id}}" class="drag-drop">{{card.name}}</div>
		{%endfor%}
	
<div id="inner-dropzone" class="dropzone">Game AREA</div>
<input type="submit" id="submit" value="Créer le deck"> 

{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

{% endif %}
  
</div>
{% endblock %}



