<!-- templates/card.html-->
{% extends 'base.html' %}

{% block title %}Cartes{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	{% if choice == 1 %}
		<a href="?class=Shaman"><img src="/static/assets/images/hearthstone-portrait-Shaman.png"></a>
		<a href="?class=Rogue"><img src="/static/assets/images/hearthstone-portrait-Rogue.png"></a>
		<a href="?class=Druid"><img src="/static/assets/images/hearthstone-portrait-Druid.png"></a>
		<a href="?class=Warlock"><img src="/static/assets/images/hearthstone-portrait-Warlock.png"></a>
		<a href="?class=Mage"><img src="/static/assets/images/hearthstone-portrait-Mage.png"></a>
		<a href="?class=Paladin"><img src="/static/assets/images/hearthstone-portrait-Paladin.png"></a>
		<a href="?class=Priest"><img src="/static/assets/images/hearthstone-portrait-Priest.png"></a>
		<a href="?class=Hunter"><img src="/static/assets/images/hearthstone-portrait-Hunter.png"></a>
		<a href="?class=Warrior"><img src="/static/assets/images/hearthstone-portrait-Warrior.png"></a>
	{% else %}
	<div class="container">
			<!-- Banner -->
		<div class="youplay-banner banner-top youplay-banner-parallax xsmall">
			<div class="image" style="background-image: url('/static/assets/images/banner-blog-bg.jpg')"></div>
			<div class="info">
				<div>
					<div class="container">
						<h1>Créer un deck</h1>
					</div>
				</div>
			</div>
		</div>
		<!-- /Banner -->
			<div class="row">
			  <div class="col">
				  <div class="cardsList" style="margin: 10%;text-align: center;">
						<div id="inner-dropzone"  class="dropzone">Ajoute tes cartes ici</div>
						<button class="btn btn-lg" id="clean" >Vider le deck</button>						
						<button class="btn btn-lg" id="submit" href="">Créer le deck</button>						
								
				<div class="wrapper">
						<div class='headerList'>
						   VOTRE COLLECTION
					   </div>
					   <div class="display">
							{% for card in cards.all %}	
								<div id="{{card.id}}" class="drag-drop box" ><img src="{{card.image}}" alt="{{card.name}}" class="cardImg"></div>
							{%endfor%}
					   </div>
				   </div>
				</div>
			</div>
		  </div>
	</div>
	{% endif %}
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}



