<!-- templates/card.html-->
{% extends 'base.html' %}

{% block title %}Cartes{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	{% for article in articles.all %}
 		<li>
			<div id="yes-drop {{article.id}}" class="drag-drop">
				<img src="{{article.image}}" alt="{{article.name}}">
			</div>
		</li>
	{%endfor%}
	<div id="inner-dropzone" class="dropzone">Game AREA</div>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
  
</div>
{% endblock %}



