<!-- templates/card.html-->
{% extends 'base.html' %}

{% block title %}Decks{% endblock %}

{% block content %}
<section class="content-wrap">
	{% if user.is_authenticated %}
	<!-- Banner -->
	<div class="youplay-banner youplay-banner-parallax banner-top xsmall">
		<div class="image" style="background-image: url('/static/assets/images/banner-blog-bg.jpg')"></div>
		<div class="info">
			<div>
				<div class="container">
					<h1>Mes decks</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- /Banner -->

	<div style="text-align: center;">
		<div class="cardsList" style="margin-top: 10%;margin-left: 10%;">
			<ul>
				{% for deck in decks %}

				<ul>
					<div class="displayDeck">
						<div class="wrapper">
							<div class='headerList'>
								<span style="text-transform: uppercase;">{{deck.name}}</span>
							</div>
							<div class="display">
								{% for card in deck.cards.all %}
								<div id="{{card.id}}" class="drag-drop box" ><img src="{{card.image}}" alt="{{card.name}}" class="cardImg"></div>
								{%endfor%}
							</div>
						</div>
					</div>
				</ul>
				{%endfor%}
			</ul>
		</div>
	</div>

	{% else %}

	<p>You are not logged in</p>
	<a href="{% url 'login' %}">login</a>
	{% endif %}

</section>
{% endblock %}



