<!-- templates/card.html-->
{% extends 'base.html' %}

{% block title %}Decks{% endblock %}

{% block content %}
{% if user.is_authenticated %}
	<h1>Mes decks :</h1>

	<ul>
		{% for deck in decks %}
			<li>{{deck.name}} :</li>
			<ul>
				<div class="displayDeck">
				<div class="wrapper">
						<div class='headerList'>
						   VOTRE COLLECTION
					   </div>
					   <div class="display">
							{% for card in deck.cards.all %}
								<div id="{{card.id}}" class="drag-drop box" ><img src="{{card.image}}" alt="{{card.name}}" class="cardImg"></div>
							{%endfor%}
					   </div>
				   </div>
				</div>
			</ul>
		{%endfor%}
	</ul>

{% else %}

  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>

{% endif %}
  
</div>
{% endblock %}



