<!-- templates/card/view_collection.html-->
{% extends 'base.html' %}

{% block title %}Decks{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<section class="content-wrap">
	<!-- Banner -->
	<div class="youplay-banner youplay-banner-parallax banner-top xsmall">
		<div class="image" style="background-image: url('/static/assets/images/banner-blog-bg.jpg')"></div>
		<div class="info">
			<div>
				<div class="container">
					<h1>Ma collection</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- /Banner -->

	<div class="youplay-banner banner-top">
		{% for collection in collections %}
		<div class="wrapperCollection">
			<div class='headerList'>
				VOTRE COLLECTION
			</div>
			<div class="displayCollection">
				{% for card in collection.cards.all %}
					<div id="{{card.id}}" class="drag-drop box">
						<img src="{{card.image}}" alt="{{card.name}}" class="cardImg">
					</div>
				{%endfor%}
			</div>
		</div>
		{%endfor%}
	</div>
	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">login</a>
	{% endif %}
</section>
{% endblock %}



