<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="content-wrap">
    <!-- Banner -->
    <section class="youplay-banner banner-top youplay-banner-parallax">
      <div class="image" style="background-image: url('static/assets/images/banner-bg.jpg')">
      </div>

      <div class="info">
        <div>
          <div class="container">
            <h1>Hearthstone ESGI: <br>Les jeux de Rastakhan</h1>
            <em>"Sortie prévue le 22 Janvier 2019"</em>
            <br>
            <br>
            <br>
            <a class="btn btn-lg" href="#!">Précommander</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Banner -->

      <!-- Features -->
      <h2 class="container h1">Quel jeu ! </h2>
      <section class="youplay-features container mnb-30">
        <div class="col-sm-4">
          <div class="feature angled-bg">
            <i class="fa fa-gamepad"></i>
            <h3>Dynamic Fights</h3>
            <div>
              The most dynamic fights will not make you bored
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature angled-bg">
            <i class="fa fa-heartbeat"></i>
            <h3>Incredible Atmosphere</h3>
            <div>
              You will be immersed in the dark atmosphere until the end of the story
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature angled-bg">
            <i class="fa fa-hand-rock-o"></i>
            <h3>Play w/ Friends</h3>
            <div>
              Kick ass your friends right in the game with ease
            </div>
          </div>
        </div>
      </section>
      <!-- /Features -->

    <!-- Specials -->
      {% include "include/store.html" %}

    <!-- Testimonials -->
      <section class="youplay-banner youplay-banner-parallax mt-60" id="testimonials">
        <div class="image" style="background-image: url('static/assets/images/game-bloodborne-2-1920x1080.jpg');" data-speed="-0.2">
        </div>

        <div class="info">
          <div>
            <div class="container">
              <h2 class="align-center">What Gamers are Saying</h2>
              <br>
              <div class="row testimonials vertical-gutter">
                <div class="col-md-4">
                  <blockquote>
                    <p class="clients-words">
                      Purus purus penatibus tempus est risus elit convallis ultrices adipiscing et mollis fames vivamus.
                    </p>
                    <small class="author-name">Adrian Ray</small>
                    <img class="img-circle" alt="Adrian Ray" src="static/assets/images/avatar-user-2.png" />
                  </blockquote>
                </div>
                <div class="col-md-4">
                  <blockquote>
                    <p class="clients-words">
                      Lacus Ut varius viverra vestibulum eleifend consectetuer proin accumsan pretium dis ultrices, hendrerit platea. Suspendisse Nunc. Ligula phasellus iaculis torquent.
                    </p>
                    <small class="author-name">Salvador Moore</small>
                    <img class="img-circle" alt="Salvador Moore" src="static/assets/images/avatar-user-3.png" />
                  </blockquote>
                </div>
                <div class="col-md-4">
                  <blockquote>
                    <p class="clients-words">
                      Curae, sodales facilisi, lacus fringilla ridiculus cras, sed, class class. Class per faucibus eget Aliquam quam interdum vehicula Pretium dolor. Nunc nascetur urna phasellus.
                    </p>
                    <small class="author-name">Clayton Fields</small>
                    <img class="img-circle" alt="Clayton Fields" src="static/assets/images/avatar-user-4.png" />
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Testimonials -->
  </section>
{% endblock %}
