<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container">
	<form class="form-signin" method="post">
		 {% csrf_token %}
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Sign Un</h1>
      </div>

      <div class="form-label-group">
		  {{ form.as_p }}
      </div>
      <button class="btn btn-lg btn-info btn-block" type="submit">Sign up</button>
    </form>
</div>

{% endblock %}
