<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Store{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
  <!-- Main Content -->
  <section class="content-wrap full youplay-login">

    <!-- Banner -->
    <div class="youplay-banner banner-top xsmall">
      <div class="image" style="background-image: url('/static/assets/images/banner-bg.jpg')"></div>

      <div class="info">
        <div>
          <div class="container align-center">
            <div class="youplay-form">
                <div class="store">
                    <div class="sale">
                        <p>
                            <a href="{% url 'sale' %}">
                                Mettre en vente ses cartes
                            </a>
                        </p>
                    </div>
                    <div class="sale">
                        <p>
                            <a href="{% url 'listCard' %}">
                                Carte en vente de cartes
                            </a>
                        </p>
                    </div>
                    <div class="purchase">
                        <a href="{% url 'purchase' %}">
                            Achat de pack
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Main Content -->

    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}



