<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Store{% endblock %}

{% block content %}

<!-- Main Content -->
  <section class="content-wrap full youplay-login">
      	<!-- Banner -->
	<div class="youplay-banner banner-top youplay-banner-parallax xsmall">
		<div class="image" style="background-image: url('/static/assets/images/banner-blog-bg.jpg')"></div>
		<div class="info">
			<div>
				<div class="container">
					<h1>Store</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- /Banner -->
    {% if user.is_authenticated %}
<h2 class="container h1">Les cartes en vente</h2>
<div class="youplay-carousel">
    {% for cardDeck in cardDecks %}
    <a class="angled-img" href="#!">
        <div class="img img-offset">
            <img src="{{ cardDeck.card.image }}" alt="">
            <form action="">
                <input type="hidden" name="card" value="{{ cardDeck.id }}">
                <button class="badge bg-default">
                    Acheter
                </button>
            </form>
        </div>
        <div class="bottom-info">
            <h4>{{ cardDeck.card.name }}</h4>
            <div class="row">
                <div class="col-xs-6">
                    {% if cardDeck.card.life_point %}
                    <div class="rating">

                        {% with ''|center:cardDeck.card.life_point as range %}
                        {% for _ in range %}
                            <i class="fa fa-star"></i>
                        {% endfor %}
                        {% endwith %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-6">
                    <div class="price">{{ cardDeck.point }} points
                    </div>
                </div>
            </div>
        </div>
    </a>
    {%endfor%}
</div>
<!-- /Specials -->

  </section>
  <!-- /Main Content -->

    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}



