<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Sell{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
  <!-- Main Content -->
  <section class="content-wrap full youplay-login">

    <!-- Banner -->
    <div class="youplay-banner banner-top">
      <div class="image" style="background-image: url('/static/assets/images/banner-bg.jpg')"></div>

    <div class="info">
        <div>
          <div class="container align-center">
            <div class="youplay-form">
              <form method="POST" action="">
                {% csrf_token %}
                <div>
                   <label>Card</label>
                    <select name="card">
                      {% for card in cards %}
                        <option value="{{ card.id }}">{{ card.name }}</option>
                      {%endfor%}
                    </select>
                </div>
               <div>
                 <label>Price </label>
                <input type="number" name="price">
               </div>
                <input type="submit" value="Envoyer">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Main Content -->
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}



