<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Sell{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
  <!-- Main Content -->
  <section class="content-wrap full youplay-login">

    <!-- Banner -->
    <div class="youplay-banner banner-top">
      <div class="image" style="background-image: url('/static/assets/images/banner-bg.jpg')"></div>

    <div class="info">
        <div>
          <div class="container align-center">
            <div class="youplay-form">
              <form method="POST" action="">
                {% csrf_token %}
                {{ form }}
                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" name="date" value="{% now "m/d/Y" %}">
                <input type="hidden" name="available" value="1">
                <input type="submit" value="Envoyer">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Main Content -->
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}



